<!-- Footer -->
<div class="footer">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h4>About Us</h4>
            <p>SpaceBooker is a web application developed by second-year students of the Digital Media Engineering (DME) program as part of our Studio3 project. Designed to meet the diverse needs of anyone within the Engineering Faculty—students, staff, faculty, and visitors—SpaceBooker streamlines the process of finding and booking rooms, providing a user-friendly experience for everyone.
            </p>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <h4>My Account</h4>
            <ul>
                <li><a href="#">My Booking</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-6">
            <h4>Help</h4>
            <ul>
                <li><a href="{% url 'login'}">Sign In</a></li>
                <li><a href="{% url 'register'}">Register</a></li>
            </ul>
        </div>
    </div>

    <div class="line"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="copyright">Copyright © 2024 All Rights Reserved.</div>
        </div>
    </div>
</div>
</div>